<link rel="stylesheet" href="/css/pay.css">
<div class="bill" id="bill">
    <div class="bill-title">
        <div>TVT-STADIUM BILL</div>
        <div class="f-1">---o0o---</div>
    </div>
    <div class="bill-info">
        <div class="bill-info-time">
            <div>Choose date use stadium <span class="cl-red">(*)</span></div>
            <input class="input-custom input-select m-t-10" type="date" id="dateOrder">
        </div>
        <div id="info" class="bill-info-check">
            <table border="1" id="tb-info" class="bill-info-check-table">
                <tr>
                    <td class="td-title">ID bill</td> 
                    <td class="td-content" id="idBill"></td>
                </tr>
                <tr>
                    <td class="td-title">ID Customer</td>
                    <td class="td-content"><input class="input-idCus" placeholder="Enter id customer" id="idCus" type="text"></td>
                </tr>
                <tr>
                    <td class="td-title">Saler</td>
                    <td class="td-content" id="nameStaff"><%= name %></td>
                </tr>
                <tr>
                    <td class="td-title">Date</td>
                    <td class="td-content" id="date"></td>
                </tr>
            </table>
            <div class="t-end m-t-10">
                <button  id="btnCheck" class="btn-custom bg-white btn-check-idCus" type="button">Check</button>
            </div>
            
        </div>
    </div>
    <div class="err" id="err2"></div>
    <div id="payArea" style="display: none;">
        <div class="select-staium">
            <input class="input-custom input-select" type="text" id="idsvdSearch" placeholder="Enter ID stadium">
            <button id="btnAdd" class="btn-custom btn-add-items bg-green cl-white" type="button"><i class="fa-solid fa-plus"></i></button>
            <div class="err" id="messAddSvd"></div>
            <table class="tb-items-order t-center">
                <thead>
                    <tr>
                        <th>ID stadium</th>
                        <th>Stadium name</th>
                        <th>Capacity</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tb"></tbody>
            </table>
        </div>

        <div class="select-product m-t-30">
            <input type="text" class="input-custom input-select" id="idProSearch" placeholder="Enter ID product">
            <button id="btnAddPr" class="btn-custom btn-add-items bg-green cl-white" type="button"><i class="fa-solid fa-plus"></i></button>
            <div class="err" id="messAddPro"></div>
            <table class="tb-items-order">
                <thead>
                    <tr>
                        <th>ID product</th>
                        <th>Product name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbPr"></tbody>
            </table>
        </div>

        <div class="t-center">
            <div class="t-end f-1-5" id="sum">Total: </div>
            <button class="btn-custom btn-pay f-1-5" type="button" id="pay" disabled><i class="fa-solid fa-cash-register"></i></button>
            <div class="err" id="err"></div>
        </div>
    </div>
</div>

<script>
    var url = new URL(window.location)
    var mess = url.searchParams.get('mess')
    if(mess)
        alert(mess)
    
    document.getElementById('idBill').innerHTML = Math.floor(Math.random() * (10000000 - 1000000)) + 100000
    const date = new Date()
    document.getElementById('date').innerHTML = (date.getFullYear()).toString() +"-"+ String(date.getMonth() + 1).padStart(2, '0') +"-"+ String(date.getDate()).padStart(2, '0')
    document.getElementById('dateOrder').value= (date.getFullYear()).toString() +"-"+ String(date.getMonth() + 1).padStart(2, '0') +"-"+ String(date.getDate()).padStart(2, '0')
    var btnCheck = document.getElementById('btnCheck')
    var pay = document.getElementById('pay')
    var btnAdd = document.getElementById('btnAdd')
    var btnAddPr = document.getElementById('btnAddPr')
    var count = 0
    var countPr = 0

    function removeTr(idtr){
        document.getElementById(idtr).remove()
    }

    btnCheck.addEventListener('click',()=>{
        document.getElementById("err2").innerHTML = ''
        document.getElementById('payArea').style.display = "none"
        
        var idCus = document.getElementById('idCus').value
        if(idCus){
            document.getElementById('payArea').style.display = "none"
            fetch('/getCus/'+idCus+"?token=<%= token %>", {
                method: "GET",
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(req => req.json())
            .then(json => {
                if(json.code === 0){
                    document.getElementById('payArea').style.display = "block"
                }else
                document.getElementById("err2").innerHTML ="id customer not exist"
            })
            .catch(e => console.log(e))
        }
        else document.getElementById("err2").innerHTML = 'please enter id Customer before pay any thing'
        
    })

    btnAdd.addEventListener('click',()=>{
        document.getElementById('messAddSvd').innerHTML = ''
        var idsvd = document.getElementById('idsvdSearch').value
        if(idsvd){
            fetch('/getSvd/'+idsvd+"?token=<%= token %>", {
                method: "GET",
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(req => req.json())
            .then(json => {
                if(json.code === 0 && json.data[0].status === 0){
                    if(count != 0){
                        for(var i = 1; i <= count; i++){
                            if(document.getElementById('sdvOrder'+i).innerHTML === json.data[0].idSvd)
                                return
                        }
                    }
                    count += 1
                    var tb = document.getElementById('tb')
                    var data = json.data[0]
                        
                    var tr = document.createElement('tr')
                    var td1 = document.createElement('td')
                    var td2 = document.createElement('td')
                    var td3 = document.createElement('td')
                    var td4 = document.createElement('td')
                    var td5 = document.createElement('td')

                    var btn = document.createElement('button')
                    btn.setAttribute('class','btnR')
                    btn.setAttribute('onclick',"return removeTr('tr"+count+"')")
                    btn.innerHTML = 'x'

                    td1.innerHTML = data.idSvd
                    td2.innerHTML = data.name
                    td3.innerHTML = data.capacity
                    td4.innerHTML = data.price
                    td2.setAttribute('id', 'nameSvd'+count)
                    td4.setAttribute('id', 'idPriceSvd'+count)
                    td5.appendChild(btn)

                    tr.setAttribute('id', 'tr'+count)
                    td1.setAttribute('id','sdvOrder'+count)

                    tr.appendChild(td1)
                    tr.appendChild(td2)
                    tr.appendChild(td3)
                    tr.appendChild(td4)
                    tr.appendChild(td5)

                    tb.appendChild(tr)

                    document.getElementById('idsvdSearch').value = ''
                    document.getElementById('pay').disabled = false
                    
                }else{
                    document.getElementById('idsvdSearch').value = ''
                    document.getElementById('messAddSvd').innerHTML = 'id not exist or svd ordered'
                }
                   
            })
            .catch(e => console.log(e))
        }
        
    })

    btnAddPr.addEventListener('click',()=>{
        var idPro = document.getElementById('idProSearch').value
        if(idPro){
            fetch('/getPro/'+idPro+"?token=<%= token %>", {
                method: "GET",
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(req => req.json())
            .then(json => {
                if(json.code === 0){
                    if(countPr != 0){
                        for(var i = 1; i <= countPr; i++){
                            if(document.getElementById('ProOrder'+i).innerHTML === json.data[0].idPro)
                                return
                        }
                    }
                    countPr += 1
                    var tbPr = document.getElementById('tbPr')
                    var data = json.data[0]
                    
                    var tr = document.createElement('tr')
                    var td1 = document.createElement('td')
                    var td2 = document.createElement('td')
                    var td3 = document.createElement('td')
                    var td4 = document.createElement('td')
                    var td5 = document.createElement('td')
                    var input = document.createElement('input')
                    var btn = document.createElement('button')

                    btn.setAttribute('onclick',"return removeTr('trPro"+countPr+"')")
                    btn.innerHTML = 'x'

                    input.setAttribute('id', 'qtyBuy'+countPr)
                    input.setAttribute('type', 'number')
                    input.setAttribute('value', 1)

                    td1.innerHTML = data.idPro
                    td2.innerHTML = data.name
                    td3.appendChild(input)
                    td4.innerHTML = data.price
                    td2.setAttribute('id', "namePro"+countPr)
                    td4.setAttribute('id', "pricePro"+countPr)
                    td5.appendChild(btn)

                    tr.setAttribute('id', 'trPro'+countPr)
                    td1.setAttribute('id','ProOrder'+countPr)

                    tr.appendChild(td1)
                    tr.appendChild(td2)
                    tr.appendChild(td3)
                    tr.appendChild(td4)
                    tr.appendChild(td5)

                    tbPr.appendChild(tr)

                    document.getElementById('idProSearch').value = ''
                    document.getElementById('pay').disabled = false
                }
                else{
                    document.getElementById('idProSearch').value = ''
                    document.getElementById('messAddPro').innerHTML = 'id product not exist'
                }
                     
            })
            .catch(e => console.log(e))
        }
        
    })

    pay.addEventListener('click', () =>{
        document.getElementById("err").innerHTML = ''
        var sum = 0
        var arrSvd = []
        var arrPro = []
        var obj
        if(count != 0){
            for(var i = 1; i <= count; i++){
                if(document.getElementById('idPriceSvd'+i)){
                    sum += parseInt(document.getElementById('idPriceSvd'+i).innerHTML)
                    obj = {
                        'idSvd' : document.getElementById('sdvOrder'+i).innerHTML,
                        'name' : document.getElementById('nameSvd'+i).innerHTML,
                        'price' : document.getElementById('idPriceSvd'+i).innerHTML
                    }
                    
                    arrSvd.push(obj)
                }    
            }
            
        }

        if(countPr != 0){
            for(var j = 1; j <= countPr; j++){
                if(document.getElementById('qtyBuy'+j) && document.getElementById('qtyBuy'+j).value){
                    sum += (parseInt(document.getElementById('qtyBuy'+j).value) * parseInt(document.getElementById('pricePro'+j).innerHTML))
                    
                    obj = {
                        'idPro' : document.getElementById('ProOrder'+j).innerHTML,
                        'name' : document.getElementById('namePro'+j).innerHTML,
                        'qty' : document.getElementById('qtyBuy'+j).value,
                        'price' : document.getElementById('pricePro'+j).innerHTML
                    }
                    
                    arrPro.push(obj)
                }
            }
        }
        var a = sum
        document.getElementById('sum').innerHTML = "Total: "+a.toLocaleString('vi', {style : 'currency', currency : 'VND'})

        if(sum == 0){
            document.getElementById('err').innerHTML = 'please choose svd or product'
            return
        } 

        if(!document.getElementById('dateOrder').value){
            document.getElementById('err').innerHTML = 'please choose day'
            return
        }
        
        idBill = document.getElementById('idBill').innerHTML
        idCus = document.getElementById('idCus').value
        listSvd = arrSvd
        listProducts = arrPro
        dateUse = document.getElementById('dateOrder').value
        dateOrder = document.getElementById('date').innerHTML
        fetch('/pay', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify({
                    idBill: idBill,
                    idCus: idCus,
                    listSvd: listSvd,
                    listProducts: listProducts,
                    sum:sum,
                    dateUse:dateUse,
                    dateOrder:dateOrder,
                    token:"<%= token %>"
                })
            })
            .then(req => req.json())
            .then(json => {
                if(json.code == 0)
                    return window.location.href = "/pay?mess=Pay "+idBill+" success"
                else if(json.code === 10)
                    document.getElementById('err').innerHTML = json.message
                else
                    document.getElementById('err').innerHTML = 'fail!'
            })
            .catch(e=>console.log(e))
    })
</script>